<!-- FOOTER -->
<footer>
  <div class="container-fluid bg-dark bg-gradient footer mb-2">
      <div class="row pt-2">
          <div class="col-6 col-sm-6 col-md-6 col-xl-6">
                  <p class="text-white text-end fw-light">
                      <i class="bi bi-code"></i><b> Alfredo Pérez </b><i class="bi bi-code-slash"></i>
                       <span class="text-white">cursando...
                          <i class="bi bi-emoji-sunglasses"></i>
                      </span>
                  </p>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-xl-6 text-start">
              <a href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa" target="_blank" class="nav-link">
                  <img src="assets/img/img/1.png" width="150px" class="rounded" alt="Argentina Programa">
              </a>
          </div>
      </div>
  </div>
</footer>
