<!-- ACERCA DE -->

<!-- IMAGEN - BANNER -->
<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 banner">
          <!-- <img src="img/5.jpg" class="imagen-banner" title="Programacion"  alt=""> -->
          <!-- <p>Fondo</p> -->
      </div>
  </div>
</div>

<!-- DEVELOPER IMAGEN  -->
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-start">
          <img src="assets/img/img/7.jpg" class="developer" title="Developer"  width="100px" alt="">
      </div>
  </div>
</div>

<!-- DESCRIPCIÓN  -->
<div class="container-fluid descripcion">
  <div class="row pt-3">
      <div class="col-12 col-sm-6 col-md-4 col-xl-5 mt-5">
          <h1 class="h2 text-center text-primary">Full Stack Developer Jr.</h1>
      </div>

      <div class="col-12 col-sm-6 col-md-8 col-xl-7 mt-5">
          <p class="h2 text-center text-muted">
              <b class="px-2">Alfredo Pérez Barradas</b>
              <a href="#"><i class="bi bi-pencil-square text-success px-1 rounded"></i></a>
              <a href="#"><i class="bi bi-x-lg text-danger px-1 rounded"></i></a>
          </p>
          <hr class="text-primary">

          <p class="text-justify text-muted text-start">

              <b class="text-primary">Técnico superior universitario en Organización Empresarial</b>  <br>
               <a href="http://cuft.com.ve/" target="_blank"><i>Colegio Universitario "Fermín Toro"</i></a>- 2001 - Venezuela
         </p>
          <p class="text-justify text-muted text-end">
              <b>
                  <p class="text-primary">
                      Licenciado en Ciencias del Deporte
                  </p> - Mención Magna Cum Laude.
              </b>  <br>
                <a href="http://www.uney.edu.ve/" target="_blank"><i>Universidad Nacional Experimental de Yaracuy (UNEY)</i></a> - 2007 - Venezuela
          </p>
          <hr class="text-primary">

      </div>
  </div>
</div>
