body{
    background-color: #f2f2f2; 
    font-family: 'Raleway';  
}
nav{
height: 55px;
}

.banner{ 
    width: 100%;
    height: 500px; 
    background-image:url('img/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* z-index: 0;    */
    margin-top:50px;   
    opacity: 0.4;      
}
.banner:hover{      
   opacity:1;   
}

div .developer{               
    z-index: 1;
    /* position: relative; */
    margin-top:-50px; 
    border-radius: 50%;
    margin-left: 100px; 
    box-shadow: 5px 10px 10px 1px  #8d8b8b;
}
.descripcion{
   margin-top: -50px;
   background-color: #d8e3f6;
   /* background-color: #a4f7ed54; */
   /* position: relative; */
}
.bi-pencil-square, .bi-x-lg {font-size: 20px;
}

a{
    text-decoration: none;
    color:#646161;
}
.cursos{
    background-color: #d8e3f6;
}

/* BARRAS DE PROGRESO */
.html{background-color: #e54c26}
.p-html{color: #e54c26}
.bootstrap{background-color:#4628b2}
.materializer{background-color:#ec7078}
.fundations{background-color:#a1d4e9}
.p-bootstrap{color:#4628b2}
.p-materializer{color:#ec7078}
.p-fundations{color:#a1d4e9}


/* SOFT-SKILL */
.soft-skill{
    background-color: #d8e3f6;
}

div .flexible{
    border-radius: 55% 15% 73% 45%;
}
div .soft{
    border-radius: 50%;
}
.footer{
    border-radius: 15% 0% 15% 0%;
}
