
<!-- HEADER -->
<header>
  <!-- NAVBAR -->
  <nav class="container-fluid bg-primary bg-gradient fixed-top">
      <div class="row">
          <div class="col">
              <!-- LOGO -->
              <div class="nav justify-content-between">
                  <div class="d-flex align-items-center">
                      <div>
                          <a href="index.html" class="nav-link">
                              <img src="assets/img/img/1.png" width="100px" class="rounded" alt="Argentina Programa">
                          </a>
                      </div>
                      <div>
                          <a class="nav-link lead text-white" target="_blank"
                            href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa">
                            #YoProgramo
                          </a>
                      </div>
                  </div>

                  <!-- REDES SOCIALES -->
                  <div class="d-flex align-items-center">
                      <div>
                          <a href="https://twitter.com/alfredonpb" target="_blank"><i class="bi bi-twitter text-white px-1"></i></a>
                          <a href="https://www.instagram.com/alfredonpb/" target="_blank"><i class="bi bi-instagram text-white px-1"></i></a>
                          <a href="https://github.com/alfredonpb" target="_blank"><i class="bi bi-github text-white px-1"></i> </a>
                      </div>
                      <div>
                          <button type="button" class="mx-3 btn btn-sm btn-outline-info text-white">Login <i class="bi bi-key px-1"></i></button>
                      </div>
                  </div>
              </div>

          </div>
      </div>

      <!-- <div class="container">
        <div class="row">
          <p class="text-muted h1"> Trayendo datos desde el Json <span>{{miPorfolio.name}}</span></p>
          <h2>{{miPorfolio.glossary.name}}</h2>
          <h2>{{miPorfolio.glossary.title}}</h2>
          <h2>{{miPorfolio.glossary.GlossDiv.protagonista}}</h2>
        </div>
      </div> -->
  </nav>
</header>
