<!-- EXPERIENCIA Y EDUCACIÓN -->

<!-- EXPERIENCIA LABORAL -->
<div class="container-fluid mb-3">
  <p class="h3 text-center text-muted pb-3 pt-5">
      <b class="px-2">Experiencia Laboral</b>
      <a href="#"><i class="bi bi-pencil-square text-success px-1 rounded"></i></a>
      <a href="#"><i class="bi bi-x-lg text-danger px-1  rounded"></i></a>
  </p>

  <!-- MOELLER -->
  <div class="row">
      <div class="col-12 col-sm-6 col-md-2 col-xl-2 text-center pb-3">
          <img src="assets/img/img/8.png" class="rounded" width="100px" alt="">
      </div>
      <div class="col-12 col-sm-6 col-md-8 col-xl-9">
          <p class="h3 text-start text-muted">
              <a href="https://moellerip.com/" target="_blank">Moeller IP</a>
          </p>
          <p class="text-muted text-justify">
              <b>Asistente administrativo: </b>escaneo, edición y archivo de documentos. <br/>
              <b>Departamento de Marcas: </b>renovaciones de marcas, envío de títulos extranjeros
              revisión de boletines del Instituto de Propiedad Intelectual (INPI). <br/>
          </p>
      </div>
  </div>


  <!-- PEDIDOS YA - RAPPI -->
  <div class="row my-4">
      <div class="col-12 col-sm-6 col-md-2 col-xl-2 text-center">
          <img src="assets/img/img/10.png" class="rounded" width="100px" alt="">
      </div>
      <div class="col-12 col-sm-6 col-md-8 col-xl-9">
          <p class="h3 text-start text-muted">
              <a href="https://www.rappi.com.ar/" target="_blank">Rappi</a> /
              <a href="https://www.pedidosya.com.ar/" target="_blank" class="text-danger">Pedidos Ya</a>
          </p>
          <p class="text-muted text-justify">
              <b>Delivery: </b> repartidor de pedidos en moto. <br/>
              Marzo 2017 - Eventualmente en la actualidad . <br/>
          </p>
      </div>
  </div>

  <!-- COLEGIO -->
  <div class="row">
      <div class="col-12 col-sm-6 col-md-2 col-xl-2 text-center">
          <img src="assets/img/img/11.jpg" class="rounded"  height="100px" alt="">
      </div>
      <div class="col-12 col-sm-6 col-md-8 col-xl-9">
          <p class="h3 text-start text-muted">
              <a href="#">Colegio "Hermanos Martínez Ojeda"</a>
          </p>
          <p class="text-muted text-justify">
              <b>Docente de Educación física: </b> clases de educación física en nivel preescolar y básica <br/>
              Septiembre 2010 - Febrero 2016.

          </p>
      </div>
  </div>

</div>



<!-- CURSOS Y FORMACIONES -->
<div class="container-fluid cursos">
  <p class="h3 text-center text-muted pb-3 pt-5">
      <b class="px-2">Cursos y Formaciones</b>
      <a href="#"><i class="bi bi-pencil-square text-success  p-1 rounded"></i></a>
      <a href="#"><i class="bi bi-x-lg text-danger p-1 rounded"></i></a>
  </p>

  <!-- ARGENTINA PROGRAMA -->
  <div class="row">
      <div class="col-12 col-sm-6 col-md-10 col-xl-9">
          <p class="h3 text-end text-muted">
              <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
                  Argentina programa
              </a>
          </p>
          <p class="text-muted text-end">
              <b>Argentina Programa</b>  Módulo II - #YoProgramo (Cursando: Julio 2022 - Enero 2023) <br>
              <b>Argentina Programa</b>  Módulo I - #SeProgramar (Aprobado - Mayo 2022)

          </p>
      </div>
      <div class="col-12 col-sm-6 col-md-1 col-xl-1 text-end">
          <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
              <img src="assets/img/img/1.png" class="rounded" width="100px" alt="Cursos">
          </a>

      </div>
  </div>


  <!-- UDEMY -->
  <div class="row my-4">
      <div class="col-12 col-sm-6 col-md-10 col-xl-9">
          <p class="h3 text-end text-muted">
              <a href="https://www.udemy.com/" target="_blank">Udemy</a>
          </p>
          <p class="text-muted text-end">
              <b>Diseño Web:</b> HTML5, CSS3, Responsive Design,
              SASS, JavaScript, jQuery, Bootstrap, Git, GitHub<br>
              Febrero / Junio 2018 - Completado al 100%
          </p>
          <p class="text-muted text-end">
              <b>Universidad Java:</b> , POO, JDBC, Servlets, JavaEE, Web Services,
              JSF, EJB, JPA, PrimeFaces, Hibernate, Spring, Struts.<br>
              Enero 2022 - 53% completado.
          </p>
      </div>
      <div class="col-12 col-sm-6 col-md-1 col-xl-1 text-end">
          <a href="https://www.udemy.com/" target="_blank">
              <img src="assets/img/img/11.png" class="rounded" width="100px" alt="Cursos">
          </a>
      </div>
  </div>

  <!-- PLATZI -->
  <div class="row mb-4">
      <div class="col-12 col-sm-6 col-md-10 col-xl-9">
          <p class="h3 text-end text-muted">
              <a href="https://platzi.com/" target="_blank">Platzi</a>
          </p>
          <p class="text-muted text-end">
              <b>Frontend Developer:</b>HTML, CSS y JavaScript. <br>
              Octubre 2019 - Completado al 100%
          </p>
      </div>
      <div class="col-12 col-sm-6 col-md-1 col-xl-1 text-end">
          <a href="https://platzi.com/" target="_blank"><img src="assets/img/img/13.png" class="rounded"  height="100px" alt="Cursos"></a>
      </div>
  </div>

  <!-- COURSERA -->
  <div class="row">
      <div class="col-12 col-sm-6 col-md-10 col-xl-9">
          <p class="h3 text-end text-muted">
              <a href="https://www.coursera.org/" target="_blank">Coursera</a>
          </p>
          <p class="text-muted text-end">
              <b>Fundamentos de AWS:</b> Despliegue de instancias (servidores),
              almacenamiento SS3, subredes, VPC, networking. <br>
              Enero 2019 - Completado al 100%
          </p>
      </div>
      <div class="col-12 col-sm-6 col-md-1 col-xl-1 text-end pb-3">
          <a href="https://www.coursera.org/" target="_blank">
              <img src="assets/img/img/12.png" class="rounded"  height="100px" alt="Cursos">
          </a>
      </div>
  </div>

</div>
